venv/
env/
.venv/
.packages*/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
db.sqlite3
db.sqlite3-journal
logs/
*.log
images/
.env
.env.*
celerybeat-schedule
celerybeat.pid
