.catalog-page {
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 40px;
}
.sidebar-wrapper.hidden { display: none; }
.catalog-content.sidebar-hidden .products-section { width: 100%;  }
.sidebar-toggle-button { margin-left: 16px;  }
.search-results-header{
  font-family: 'CarismaClassic';
}
.catalog-header:empty {
  display: none;
}
.clear-search-button{
  background: #aa0f4e;
  color: #fff;
  border: 2px solid transparent;
  border-color: #aa0f4e;
  border-radius: 20px 6px 20px 6px;
  padding: 0 20px;
  font-family: 'CarismaClassic';
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.breadcrumbs {
  width: 100%;
  margin-bottom: 0px;
}

div.breadcrumbs {
  margin: 0;
  padding-top: 8px;
}
/* Catalog Header */

.catalog-content {
  display: flex;
}

.catalog-header {
  display: flex;
  align-items: center;
  width: 240px;
  height: 70px;
}

.catalog-header h1 {
  color: #000;
  text-decoration: none;
  font-family: 'CarismaClassic';
  font-size: 30px;
  font-weight: 500;
  transition: all 0.2s;
  margin: 0;
}

.products-section {
  width: 100%;
  margin-top: 30px;
}

.catalog-scrollable {
  flex: 1;
  overflow-x: hidden;
  text-align: center;
}

/* Products Grid */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding-top: 16px ;
}

.filters {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 30px;
}

.filters p {
  font-family: 'CarismaClassic';
  font-weight: 400;
  font-size: 22px;
  color: #626161;
  margin: 0;
}

.sort {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Loading and Empty States */
.loading-indicator,
.no-products {
  text-align: center;
  padding: 40px;
  font-family: 'CarismaClassic';
  font-weight: 400;
  font-size: 20px;
  color: #7B7B7B;
}



@media screen and (max-width: 1023px) {
  .catalog-page {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
  }

  .catalog-content {
    display: flex;
    flex-direction: column;
  }

  .catalog-header {
    display: none;
  }
  
  /* Sidebar */
  .sidebar-catalog {
    display: none;
    width: 100%;
  }
  .dropdown {
    flex-direction: column;
    width: 90%;
    left: 5%;
    transform: none;
  }

  .dropdown-left,
  .dropdown-right {
    width: 100%;
    border: none;
    padding: 12px;
  }

  .dropdown-left li,
  .dropdown-right li a {
    font-size: 18px;
    padding: 6px 8px;
  }

  .dropdown-right li {
    margin-left: 0;
  }

  .heart-icon {
    font-size: 28px;
  }

  .subcategory-list {
    position: static;
    box-shadow: none;
    border: none;
    width: 100%;
  }

  .subcategory-list li a {
    font-size: 16px;
    padding: 6px 12px;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }

  @media (max-width: 480px) {

    .product-title {
      font-size: 20px;
    }

    .product-type,
    .product-volume,
    .old-price,
    .new-price {
      font-size: 16px;
    }
    .filters p {
      font-size: 20px;
    }
  }

  @media (max-width: 360px) {
    .filters p {
      font-size: 18px;
    }
  }
}
