.shops {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  gap: 10px 100px;               
  margin-top:50px;
  margin-bottom:20px;
  flex-wrap: wrap;
}

.wb {
  width: 260px;
  height: 239px;
}

.ozon {
  width: 280px;
  height: 239px;
}

.shops div {
  text-align: center;
}

.shops p {
  font-family: 'CarismaClassic';
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
}

.shops img:hover{
  transform: scale(1.05);
}